<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}
  </h1>
  <app-rfid-table></app-rfid-table>
</div>

<!--&lt;!&ndash; <table>-->
  <!--<tr>-->
    <!--<th>ID</th>-->
    <!--<th>Product Name</th>-->
    <!--<th>Price</th>-->
  <!--</tr>-->

  <!--<tr *ngFor="let product of products">-->
    <!--<td>-->
      <!--{{product.productId}}-->
    <!--</td>-->
    <!--<td>-->
      <!--{{product.productName}}-->
    <!--</td>-->
    <!--<td>-->
      <!--{{product.productPrice | currency}}-->
    <!--</td>-->
  <!--</tr>-->
<!--</table> &ndash;&gt;-->





<!--<mat-table [dataSource]="dataSource" matSort [matSortActive]="sortColumnName" class="mat-elevation-z8">-->


    <!--<ng-container matColumnDef="id">-->
      <!--<mat-header-cell *matHeaderCellDef matheader-sort> No. </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>-->
    <!--</ng-container>-->


    <!--<ng-container matColumnDef="name">-->
      <!--<mat-header-cell *matHeaderCellDef matheader-sort> Name </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>-->
    <!--</ng-container>-->


    <!--<ng-container matColumnDef="price">-->
      <!--<mat-header-cell *matHeaderCellDef matheader-sort> Price </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let element"> {{element.price | currency}} </mat-cell>-->
    <!--</ng-container>-->

    <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
    <!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
  <!--</mat-table>-->
